.profile {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  .qualities {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}