.quote{
    padding: 20px 25px;
    background-color: #0C359E;
    margin-top: 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;

    .content{
        color: #F6F5F5;
        text-align: center;
    }

    .author{
        color: #F6F5F5;
        margin-top: 10px;
        margin-bottom: 0;
        align-self: flex-end;
        font-size: 20px;
    }
    .date{
        color: #F6F5F5;
        margin-top: 3px;
        align-self: flex-end;
        margin-bottom: 35px;
        font-size: 20px;
    }

    .tags{
        margin: 15px 0;
        .tag{
            background-color: #EE99C2;
            margin-right: 15px; 
            padding: 12px 25px;
            border-radius: 25px;
            font-weight: bold;
            border: none;
        }
    }
}