main {
  width: 100%;
  .main-container {
    width: 75%;
    margin: auto;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-top: 15px;

    .input-container {
      padding: 20px;
      padding-bottom: 0;
      .title {
        margin: 0;
        font-size: 32px;
        margin-bottom: 5px;
      }
      .item-input {
        height: 38px;
        padding: 0;
        border: none;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        margin-right: 10px;
        width: 200px;
      }
      .item-input:focus {
        font-size: 16px;
        caret-color: #343a40;
        outline: none;
      }
      .item-submit-btn {
        height: 40px;
        background-color: #343a40;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 0 15px;
        font-size: 16px;
      }
    }

    .items-container {
      padding: 20px;

      .title {
        margin: 0;
        font-size: 32px;
        margin-bottom: 5px;
      }
      .list-items {
        padding: 0;
        margin: 0;
        font-size: 16px;
      }
    }
  }
}
