.list-item {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e8e8e8;
  font-size: 16px;
  padding: 14px 20px;
  .delete-btn {
    border: none;
    font-size: 16px;
    color: white;
    background-color: #dc3545;
    border-radius: 5px;
    padding: 8px 10px;
  }
}
